


.heading h1 {
  
  color: rgba(30, 54, 103, 1);
height: auto;
font-size: 36px;
font-style: Bold;
text-align: center;
font-family: Poppins;
font-weight: 700;
}
.heading p {

  justify-content: center;
  font-size: 18px;
  font-weight: 100;
  color: #1E3667;
  text-align: center;
  font-family: Poppins;
}
.white-heading{
  color: #ffffff;
}
.heading:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  
  
}
.white-heading:after {
  background: url(img/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}



/*button carousel*/
.button{
  border-radius: 0%;
}
/* clearfix */
.owl-carousel .owl-wrapper:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
/* display none until init */
.owl-carousel{
display: none;
position: relative;
width: 100%;
-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
display: none;
position: relative;
-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
overflow: hidden;
position: relative;
width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
-webkit-transition: height 500ms ease-in-out;
-moz-transition: height 500ms ease-in-out;
-ms-transition: height 500ms ease-in-out;
-o-transition: height 500ms ease-in-out;
transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item img{
  max-width: 100%;
}
.owl-carousel .item {
  padding: 0 7.5px;
}
.owl-carousel .owl-item{
float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
cursor: pointer;
}
.owl-controls {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
  cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
}

#demo1 .customNavigation, #demo2 .customNavigation {
  top: 50%;
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: -40px;
}
#demo1 .customNavigation .btn, #demo2 .customNavigation .btn {
  padding: 0px;
}
#demo1 .customNavigation .btn.prev, #demo2 .customNavigation .btn.prev {
  position: relative;
  left:-76px;
}
#demo1 .customNavigation .btn.next, #demo2 .customNavigation .btn.next {
  position: relative;
      right: -70px;
  float: right;
}
div#demo1 {
  position: relative;
}

.user-blog {
  background: #F1F9FB;
  padding: 50px 0 50px;
}
.user-blog:before {
  position: absolute;
  top: -100px;
  left: 0;
  content: " ";
  background: url(img/user-blog.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}
div#owl-demo1 .item {
  padding: 0 15px;
}
.blog-grid {
  background: #fff;
  box-shadow: 0px 0px 20px #c3c3c3;
  margin: 10px 0;
  border: 1px solid #d6d6d6;
  border-radius: 1px;
}

.discretion-blog {
  padding: 15px;
}

.discretion-blog p {
  font-size: 15px;
  color: #454343;
}

.discretion-blog h4 {
  color: #454343;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.discretion-blog .btn {
  color: #1e3667;
  background: #ffffff;
  width: 100%;
  text-transform: uppercase;
  border-radius: 0px;
  margin-top: 10px;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(122px) translateZ(0);
}


.discretion-blog .btn:hover {
  color: #ffffff;
}
.discretion-blog .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1e3667;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border: 2px solid #ffffff;
}

.discretion-blog .btn:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.date-blog {
  background: #82b53f;
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 15px;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
}
.date-blog:after {
  width: 0;
  height: 0;
  content: "";
  border-left: 0 solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 12px solid #82b53f;
  top: -11px;
  position: absolute;
  left: 0;
}
.img-date {
  position: relative;
}
.user-blog .owl-theme .owl-controls .owl-page span {
  width: 17px;
  height: 17px;
  background: #454343;
  opacity: 1;
}
.user-blog .owl-theme .owl-controls .owl-page.active span, .user-blog .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #82b53f;
}





/*cards*/



@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}


.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card-ins {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
  color: #1E3667 !important;
}

.card-title a {
  color:  #1e3667;
  
}
.card-title h4{
  color: #1E3667 !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
.btn{
 outline-offset:none;
}